<aside>
    <h2>Welcome to Evently!</h2>
    <p>See what big events are coming up, or be the one to create the next big event!</p>
    <p>Select a date to see what events are happening, and mark your calendars.</p>
</aside>