
<div id="welcomeCard">
<div class="card mb-3 mt-3 ml-4 mr-4">
  <img src="./images/balloons.jpg" height="650px" width="250px" class="card-img-top" alt="balloons">
  <div class="card-body">
    <h3 class="card-title">Welcome to Evently!</h3>
    <p class="card-text">Our goal is to be a centralized place for you and your friends/ family to create, track, and share memories with your loved ones.</p>
    <p class="card-text">If you would  like to see what events are happening on certain days, please use the calendar on the homepage.</p>
    <p class="card-text">If YOU want to host the next big shindig, make sure you're logged in and get to creating your event today!</p>
  </div>
</div>
</div>