{{! Handlebar for creating an event}}

<div>
    <section class="vh-75 gradient-custom">
    <div class="container py-5 h-75">
        <div
        class="row d-flex justify-content-center align-items-center h-75"
        >
        <div class="col-12">
            <div class="card bg-dark" style="border-radius: 1rem">
            <div class="loginCard card-body p-5 text-center">
                <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">Create an Event!</h2>
                <p class="mb-5">What event are you hosting?</p>
                <div class="form-outline form-white mb-4">
                    <input
                    type="text"
                    name="userID"
                    class="form-control form-control-lg"
                    />
                    <label class="form-label" for="email">User ID</label>
                </div>
                    <div class="form-outline form-white mb-4">
                    <input
                    type="text"
                    name="eventName"
                    class="form-control form-control-lg"
                    />
                    <label class="form-label" for="confirm"
                    >Event Name</label
                    >
                </div>
                <div class="form-outline form-white mb-4">
                    <input
                    type="text"
                    name="description"
                    class="form-control form-control-lg"
                    />
                    <label class="form-label" for="username"
                    >Description</label
                    >
                </div>
                <div class="form-outline form-white mb-4">
                    <input
                    type="text"
                    name="location"
                    class="form-control form-control-lg"
                    />
                    <label class="form-label" for="password"
                    >Location</label
                    >
                </div>
                <div class="form-outline form-white mb-4">
                    <input
                    type="time"
                    name="eventTime"
                    class="form-control form-control-lg"
                    />
                    <label class="form-label" for="confirm"
                    >Event Time</label
                    >
                </div>
                    <div class="form-outline form-white mb-4">
                    <input
                    type="date"
                    name="eventDate"
                    class="form-control form-control-lg"
                    />
                    <label class="form-label" for="confirm"
                    >Event Date</label
                    >
                </div>
                    <div class="form-outline form-white mb-4">
                    <input
                    type="text"
                    name="expAtendance"
                    class="form-control form-control-lg"
                    />
                    <label class="form-label" for="confirm"
                    >Expected Attendance</label
                    >
                </div>
                <button
                    id="signUp"
                    class="btn btn-outline-light btn-lg px-5"
                    type="submit"
                >
                    Create Event
                </button>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
</div>
<script src="./js/sign-up.js"></script>