<div class="card" style="width: 18rem;">
    {{!-- have random img function from utils generated below --}}
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ Event title input here }}</h5>
    <p class="card-text">{{ event description input here}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">event location</li>
    <li class="list-group-item">event time (formatted)</li>
    <li class="list-group-item">expected attendance</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">maybe a google calendar link if we get this far</a>
    <a href="#" class="card-link">possible second link, or even just an href to go back home</a>
  </div>
</div>