* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    place-items: center;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, #9796f0, #fbc7d4);
    overflow-x: hidden;
}

a:link, a:visited {
    color: #9796f0;
    transition: all .2s ease-in-out;
}

a:hover {
    transform: scale(1.1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.moveRight {
    text-align: right;
}

.logoItems {
    margin: 10px;
    float: inline-start;
    padding: 10px;
    border: solid;
    border-color: #fbc7d4;
    border-radius: 7px;
    /* text-decoration: underline overline #fbc7d4; */
}

.restOfNav {
    float: right;
}

.logoText {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: flex-start;
    color: #9796f0;
    text-shadow: 1px 1px 1px black;

}

.iconText {
    align-items: flex-start;
    color: #9796f0;
    text-shadow: 1px 1px 1px black;
}

.navItems {
    align-items: flex-end;
}

.ghImg {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-left: 2px;
}

.gh-profiles {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #9796f0;
    width: 100%;
}

.loginCard, #logout-card, .welcomeCard, #eventCards {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #9796f0;
    background-color: #fbc7d4;
    color: #9796f0;
}

.card {
    margin: 15px;
}


.container {
    width: max-content;
    height: max-content;
    position: relative;
    display: flex;
    padding: 2% 0px 0px 0px;
    justify-content: center;
    top: 10%;
    right: 0%;
    width: 100%;
    height: 100%;
}

.calendar {
    height: 610px;
    width: max-content;
    background-color: white;
    border-radius: 1px;
    overflow: hidden;
    padding: 30px 50px 0px 50px;
    box-shadow: var(--shadow);
}

.calendar-header {
    background: #a9a8ef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: var(--white);
    padding: 10px;
}

.calendar-body {
    pad: 10px;
}

.calendar-week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    cursor: pointer;
    color: black;
}

.calendar-week-days div:hover {
    color: black;
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}

.calendar-week-days div {
    display: grid;
    place-items: center;
    color: black;
    height: 50px;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    color: black;
    place-items: center;
}

.calendar-days a {
    width: 37px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0px 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: #9796f0;
    transition: all .2s ease-in-out;
    transform: scale(1.12);
}

.year-change:hover pre {
    color: white;
}

.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#year:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
}

.calendar-days a span {
    position: absolute;
}

.calendar-days a:hover {
    transition: width 0.2s ease-in-out;
    color: red;
    border-radius: 20%;
}

.month-list {
    position: relative;
    left: 0;
    top: -50px;
    background-color: #ebebeb;
    color: black;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    border-radius: 20px;
}

.month-list>div {
    display: grid;
    place-content: center;
    margin: 5px 10px;
    transition: all 0.2s ease-in-out;
}

.month-list>div>div {
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.month-list>div>div:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(0.9);
    color: black;
    background-color: grey;
}

.month-list .show {
    visibility: visible;
    animation: to-left .71s forwards;
    pointer-events: visible;
    transition: 0.6 ease-in-out;
}

.month-list.hideonce {
    visibility: hidden;
}

.month-list.hide {
    animation: to-right 4s forwards;
    visibility: none;
    pointer-events: none;
}

/* .date-time-formate{
    width: max-content;
    height: max-content;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: 140px;
    justify-content: center;
    display: inline;
} */
/* .day-text-formate{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    padding-right: 5%;
    border-right: 3px solid #9796f0;
    position: absolute;
    left: 1rem;
} */

/* .date-formate.showtime{
    animation: showtime 1s forwards;
} */

@keyframes to-top {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateY(100%);
        opacity: 1;
    }
}

@keyframes to-left {
    0% {
        transform: translateX(230%);
        opacity: 1;
    }

    100% {
        transform: translateX(230%);
        opacity: 1;
    }
}

@keyframes to-right {
    10% {
        transform: translateX(0%);
        opacity: 1;
    }

    100% {
        transform: translateX(-150%);
        opacity: 1;
    }
}

@media (max-width:375px) {
    .month-list>div {
        margin: 5px 0px;
    }
}
